@model List<Relatorio>

<div class="d-flex">
    <h1 class="flex-grow-1">
        Relatórios
    </h1>
</div>

<hr>

<form class="row gx-3 gy-2 align-items-center mb-5" method='get'>

    <div class="col-sm-3">
        <input class="form-select" name="data" id="selectMes" type="month" value="@ViewData["mes"]">
    </div>
    <div class="col-sm-3">
        <select class="form-select" name="publicadorId" id="selectNome" 
            asp-items='(SelectList) ViewData["listaDePublicadores"]'>
            <option value="">Publicadores</option>
        </select>
    </div>
    <div class="col-auto">
        <button class="btn btn-secondary" type="button" id='btnLimpar'>
            <i class="fas fa-redo"></i> Limpar
        </button>
    </div>
    <div class="col-auto">       
        <button class="btn btn-primary" type="submit">
            <em class="fas fa-search"></em> Buscar
        </button>
  </div>
  
</form>


@foreach (var relatorio in Model)
{
    <div class="col-sm-4">
        <div class="list-group-item list-group-item-action d-flex card mb-5" style="width: 18rem;">
            <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted">
                    @relatorio.Publicador.Nome
                </h6>
                <h6 class="card-subtitle mb-2 text-muted">
                    @JWForm.Controllers.RelatoriosController.GetEnumDescription(relatorio.Publicador.Tipo)
                </h6>
            </div>
            <ul class="list-group">
                <li class="list-group-item list-group-item-secondary d-flex justify-content-between align-items-center">
                    <strong>Data: @relatorio.Data.ToString("MM-yyyy")</strong>
                </li>
                <li class="list-group-item list-group-item-secondary d-flex justify-content-between align-items-center">
                    Publicações: @relatorio.Publicacoes
                </li>
                <li class="list-group-item list-group-item-secondary d-flex justify-content-between align-items-center">
                    Vídeos: @relatorio.Videos
                </li>
                <li class="list-group-item list-group-item-secondary d-flex justify-content-between align-items-center">
                    Revisitas: @relatorio.Revisitas
                </li>
                <li class="list-group-item list-group-item-secondary d-flex justify-content-between align-items-center">
                    Estudos: @relatorio.EstudosBiblicos
                </li>
                <li class="list-group-item list-group-item-secondary d-flex justify-content-between align-items-center">
                    Horas: @relatorio.Horas
                </li>
                <li class="list-group-item list-group-item-secondary d-flex justify-content-between align-items-center">
                    Observações : @relatorio.Observacao
                </li>
                <li class="list-group-item list-group-item-secondary d-flex justify-content-between align-items-center">
                    <a asp-action="Editar" asp-route-id="@relatorio.RelatorioId" class="card-link">Editar relatório</a>
                </li>
            </ul>     
        </div>
    </div>

}

@section scripts{
    <script src="~/js/Relatorios/scripts.js" asp-append-version="true"></script>
}