@model ResumoVM

<div class="d-flex">
    <h1 class="flex-grow-1">
        Resumo do Serviço
    </h1>
</div>

<hr>
<form class="row gx-3 gy-2 align-items-center mb-3
" asp-action="Resumo" asp-controller="Relatorios" method="post" enctype="multipart/form-data">

    <div class="col-sm-4">
        <input class="form-select" name="data" type="month" value="@ViewData["mes"]">
    </div>
    <div class="col-auto">
        <button class="btn btn-outline-primary" type="submit">
            <em class="fas fa-search"></em> Analizar
        </button>
    </div>
    
</form>


<div class="row">

    <div class='col-md-6 col-lg-3 mb-2'>
        <div class="card">
            <div class="card-body">

                <h2 class='mt-4'>
                    @Model.totalDePublicadoresPendentes
                </h2>

                <a asp-controller="Publicadores" asp-action="Pendentes">
                    Publicadores pendentes
                </a>

            </div>
        </div>
    </div>

    <div class='col-md-6 col-lg-3 mb-2'>
        <div class="card">
            <div class="card-body">

                <h2 class='mt-4'>
                    @Model.totalDeHoras
                </h2>

                <p>
                    Total De Horas Geral
                </p>

            </div>
        </div>
    </div>

    <div class='col-md-6 col-lg-3 mb-2'>
        <div class="card">
            <div class="card-body">

                <h2 class='mt-4'>
                    @Model.totalDeHorasPublicadoresNaoBatizados
                </h2>

                <p>
                    Horas de Publicadores Não Batizados
                </p>

            </div>
        </div>
    </div>

    <div class='col-md-6 col-lg-3 mb-2'>
        <div class="card">
            <div class="card-body">
                <h2 class='mt-4'>
                    @Model.totalDeHorasPublicadoresBatizados
                </h2>
                <p>
                    Horas de Publicadores Batizados
                </p>

            </div>
        </div>
    </div>
    
    <div class='col-md-6 col-lg-3 mb-2'>
        <div class="card">
            <div class="card-body">

                <h2 class='mt-4'>
                    @Model.totalDeHorasPioneirosAuxiliares
                </h2>
                <p>
                    Horas de Pioneiros Auxiliares
                </p>
            </div>

        </div>
    </div>

    <div class='col-md-6 col-lg-3 mb-2'>
        <div class="card">
            <div class="card-body">

                <h2 class='mt-4'>
                    @Model.totalDeHorasPioneirosRegulares
                </h2>
                <p>
                    Horas de Pioneiros Regulares
                </p>
            </div>

        </div>
    </div>

</div>