@model ResumoVM

<div class="d-flex">
    <h1 class="flex-grow-1">
        Resumo do Serviço
    </h1>
</div>

<hr>

<div class="row">

    <div class='col-md-6 col-lg-3 mb-2'>
        <div class="card">
            <div class="card-body">

                <h2 class='mt-4'>
                    @Model.totalDeHoras
                </h2>

                <p>
                    Total De Horas Geral
                </p>

            </div>
        </div>
    </div>

    <div class='col-md-6 col-lg-3 mb-2'>
        <div class="card">
            <div class="card-body">

                <h2 class='mt-4'>
                    @Model.totalDeHorasPublicadoresBatizados
                </h2>

                <p>
                    Publicadores Não Batizados
                </p>

            </div>
        </div>
    </div>

    <div class='col-md-6 col-lg-3 mb-2'>
        <div class="card">
            <div class="card-body">
                <h2 class='mt-4'>
                    @Model.totalDeHorasPublicadoresNaoBatizados
                </h2>
                <p>
                    Publicadores Batizados
                </p>

            </div>
        </div>
    </div>
    
    <div class='col-md-6 col-lg-3 mb-2'>
        <div class="card">
            <div class="card-body">

                <h2 class='mt-4'>
                    @Model.totalDeHorasPioneirosAuxiliares
                </h2>
                <p>
                    Pioneiros Auxiliares
                </p>
            </div>

        </div>
    </div>

    <div class='col-md-6 col-lg-3 mb-2'>
        <div class="card">
            <div class="card-body">

                <h2 class='mt-4'>
                    @Model.totalDeHorasPioneirosRegulares
                </h2>
                <p>
                    Pioneiros Regulares
                </p>
            </div>

        </div>
    </div>

</div>